
<div class="user_left_column">
<%= link_to (image_tag @user.photo.url(:small), :class => 'profile'), @user.photo.url(:original) %>
<br />
<%= user_name_limit_characters(@user) %>
<br />
<%= link_to "Edit Profile", edit_user_path(@user) if !current_user.nil? && current_user.id.to_s == params[:id] %>

</div>
