
<div class="patron_artist_login_wrapper">
 <div class="why_patron_div">
   Support Your Local Art Scene
   <ul>
     <li>Passion for the arts</li>
     <li>Easy way to support your favorite artists</li>
     <li>More personalized up to date and in-depth info</li>
   </ul>
 </div>
 <div class="patron_div">
   <div class="patron_header">BE A PATRON</div>
   <div class="artist_join_us">&nbsp</div>
   <div class="patron_learn_more"><%= link_to "Learn More", new_user_path(:user_type => 'Patron') %></div>
 </div>
 <div class="artist_div">
   <div class="artist_header">ARTISTS</div>
   <div class="artist_join_us">JOIN US!</div>
   <div class="artist_learn_more"><%= link_to "Learn More", new_user_path(:user_type => 'artist') %></div>
 </div>
 <div class="why_artists_div">
   Why Artists should join
   <ul>
     <li>Connecting you to new patrons</li>
     <li>new revenue stream</li>
     <li>exposure</li>
   </ul>
 </div>
</div>


