<div class="more_contact_info">

<% if !@user.email.blank? %>
  <div><%= mail_to @user.email, 'Email me' %></div>
<% end %>
<% if !@user.web_site.blank? %>
  <div><%= link_to 'Website', website_Link(@user.web_site), :target => '_blank' %></div>
<% end %>
</div>
